// Component Styles

@import 'global.scss';

// Grid

.grd {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'title title'
    'live live'
    'front back';
  @media (max-width: 600px) {
    grid-template-areas:
    'title'
    'live'
    'front'
    'back';
  };
}

.project-title { grid-area: title; }
.app-url { grid-area: live; }
.github-url {
    &.frontend {
      grid-area: front;
    };
    &.backend {
      grid-area: back;
    };
}

// Card

.url-pseudo-btn {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--bg);
  border-radius: var(--rad2);
  border: var(--exl-btn-border);
  @include shadow();
  @include colorfade();
  body.light & {
    box-shadow: 0 0 2px 0 var(--exl-btn-shadow);
  };
}

// Text-Divider

.text-divider {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  & > p.text-divider-text {
    font-size: 1.5rem;
    // font-style: italic;
    // color: var(--gray5);
    width: max-content;
    margin: 0 .5rem;
  };
  & > .text-divider-bar {
    display: flex;
    flex-grow: 1;
    height: var(--bdr2);
    background: var(--horz-bar);
  };
}