
@import './colors.scss';

$rad: 3px;
$rad2: 6px;
$bdr1: 1px;
$bdr2: 1px;
$bdr3: 3px;

@mixin bgTransition() {
  -webkit-transition: background-color .2s;
     -moz-transition: background-color .2s;
       -o-transition: background-color .2s;
          transition: background-color .2s;
}

@keyframes swapBgLi {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      $cyan5 33%, $colg3 33% 67%, $colg2 67%
    );
  }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
      $cyan5 50%, $colg2 50%
    );
  }
}

@keyframes swapBgDk {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      $cyan6 33%, $gray7 33% 67%, $gray8 67%
    );
  }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
      $cyan6 50%, $gray8 50%
    );
  }
}

$themes: (
  light: (
    swapBg: swapBgLi,
    accent-bio: $pink4,
    accent-bio-hover: $pink3,
    accent-res: $cyan5,
    accent-res-hover: $cyan4,
    accent-writ: $oran4,
    accent-writ-hover: $oran3,
    accent-code: $emer5,
    accent-code-hover: $emer4,
    bg: $colg2,
    text: $trug6,
    text-alt-faded: $colg4,
    text-alt-bright: $indi5,
    text-alt-title: $trug9,
    text-hover: $trug6,
    content-bg-img: none,
    content-bg-img-size: 0,
    content-bg: $newg1,
    header-text: $colg2,
    header-bg: $trug9,
    header-bg-img: url("./assets/backgrounds/dflowers-clear-1280.png"),
    header-bg-img-size: 1280px,
    nav-text: $trug9,
    nav-bg: $colg2,
    nav-bg-this-page: $colg3,
    nav-border: $colg3,
    drop-nav-btn-text: $colg2,
    drop-nav-btn-bg: $trug9,
    drop-nav-btn-bg-hover: $colg3,
    foot-social-icon-bg: $colg4,
    foot-text: $colg5,
    foot-bg: $colg2,
    foot-border: $colg3,
    button-text: $colg2,
    form-bg: $colg2,
    form-bg-focus: $colg1,
    form-text: $gray8,
    form-text-placeholder: $colg5,
    partner-logo-bg: $colg1,
    horz-bar: $colg3,
    exl-btn-bg: $white,
    exl-btn-bg-hover: $white,
    exl-content-bg: $white,
    exl-btn-shadow: $trug3,
    exl-btn-border: $bdr2 solid $white,
    exl-btn-border-hover: $bdr2 solid $white,
    theme-weight-adjust-text: 350,
    theme-weight-adjust-title-text: 400,
  ),

  dark: (
    swapBg: swapBgDk,
    accent-bio: $pink5,
    accent-bio-hover: $pink4,
    accent-res: $cyan6,
    accent-res-hover: $cyan5,
    accent-writ: $oran5,
    accent-writ-hover: $oran4,
    accent-code: $emer6,
    accent-code-hover: $emer5,
    bg: $gray9,
    text: $colg3,
    text-alt-faded: $colg4,
    text-alt-bright: $libl3,
    text-alt-title: $colg2,
    text-hover: $colg1,
    content-bg-img: url("./assets/backgrounds/dflowers-clear-1280.png"),
    content-bg-img-size: 1280px,
    content-bg: none,
    header-text: $colg2,
    header-bg: $gray9,
    header-bg-img: none,
    header-bg-img-size: 0,
    nav-text: $colg2,
    nav-bg: $gray8,
    nav-bg-this-page: $gray7,
    nav-border: $gray7,
    drop-nav-btn-text: $colg2,
    drop-nav-btn-bg: $trug9,
    drop-nav-btn-bg-hover: $gray9,
    foot-social-icon-bg: $gray7,
    foot-text: $gray6,
    foot-bg: $gray9,
    foot-border: $gray7,
    button-text: $colg2,
    form-bg: $gray8,
    form-bg-focus: $gray9,
    form-text: $colg4,
    form-text-placeholder: $colg5,
    partner-logo-bg: $colg2,
    horz-bar: $gray7,
    exl-btn-bg: $gray8,
    exl-btn-bg-hover: $gray8,
    exl-content-bg: $gray8,
    exl-btn-shadow: $gray9,
    exl-btn-border: $bdr2 solid $gray7,
    exl-btn-border-hover: $bdr2 solid $cyan6,
    theme-weight-adjust-text: 350,
    theme-weight-adjust-title-text: 400,
  )
);

$pages: (
  bio-light: (
    accent: $pink4,
    accent-hover: $pink3,
  ),
  bio-dark: (
    accent: $pink5,
    accent-hover: $pink4,
  ),
  resume-light: (
    accent: $cyan5,
    accent-hover: $cyan4,
  ),
  resume-dark: (
    accent: $cyan6,
    accent-hover: $cyan5,
  ),
  writing-light: (
    accent: $oran4,
    accent-hover: $oran3,
  ),
  writing-dark: (
    accent: $oran5,
    accent-hover: $oran4,
  ),
  code-light: (
    accent: $emer5,
    accent-hover: $emer4,
  ),
  code-dark: (
    accent: $emer6,
    accent-hover: $emer5,
  )
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function th($key) {
  @return map-get($theme-map, $key);
}

@mixin page() {
  @each $page, $map in $pages {
    $page-map: $map !global;
    ##{$page} & {
      @content;
    }
  }
  $page-map: null !global;
}

@function pg($key) {
  @return map-get($page-map, $key);
}

/*RESET*/

html, body {
  margin: 0;
  padding: 0;
  overflow: overlay;
  height: 100%;
}

main {
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  @include theme() {
    background: th('bg');
  };
}

*, *:before, *:after {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  @include theme() {
    color: th('text');
  };
}

h1,h2,h3,h4,h5,h6,li,ol,p,ul{font-style:normal;text-decoration:none}
h1,h2,h3,h4,h5,h6{font-weight:400}
h1{font-size:2.5rem}
h2{font-size:2.25rem}
h3{font-size:2rem}
h4{font-size:1.75rem}
h5{font-size:1.5rem}
h6{font-size:1.25rem}

p, ul, ol, li {
  font-size: 17px;
  line-height: 1.75rem;
  letter-spacing: .02rem;
  @include theme() {
    font-weight: th('theme-weight-adjust-text');
  };
}

/*WRAPPER*/

.wrapper {
  background-position: left;
  background-repeat: repeat;
  background-attachment: fixed;
  @include theme() {
    background-image: th('content-bg-img');
    background-size: th('content-bg-img-size');
  };
}

/*SVG*/

.svg-wrap {
  height: 245px;
  width: 600px;
}

.svg {
  height: 100%;
  width: 100%;
  margin: 0;
  @include theme() {
    fill: th('text');
  };
}

svg.svg-cstitle {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  @include theme() {
    fill: th('text');
  };
}

/*HEAD*/

.main-head-bg {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100vw;
  background-position: left;
  background-repeat: repeat;
  @include theme() {
    background-image: th('header-bg-img');
    background-size: th('header-bg-img-size');
  };
}

.main-head {
  display: flex;
  padding: .75rem 0;
  justify-content: center;
  align-items: center;
  position: relative;
  @include theme() {
    background: th('header-bg');
  };
}

.main-head-item {
  @include theme() {
    background: -webkit-linear-gradient(th('header-text'), $colg3);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 0;
  };
}

.main-head-item-title {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

/* hide default header */
@media (max-width: 600px) { .main-head { display: none; } }

/*LIGHT-DARK SWITCH*/

.theme-switch-text {
  position: absolute;
  right: 85px;
  font-weight: 450;
  font-size: 1rem;
  text-justify: left;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.theme-switch-bg {
  position: absolute;
  right: 0;
  width: 50px;
  height: 30px;
  margin-right: 1.5rem;
  border-radius: $rad;
  overflow: hidden;
}

.theme-switch-bg input { display: none; }

.theme-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colg3;
  -webkit-transition: transform .2s;
     -moz-transition: transform .2s;
       -o-transition: transform .2s;
          transition: transform .2s;
}

.theme-switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  right: 25px;
  bottom: 5px;
  border-radius: $rad;
  background-color: $white;
  box-shadow: 0 0 3px .25px $colg4;
  -webkit-transition: transform .2s;
     -moz-transition: transform .2s;
       -o-transition: transform .2s;
          transition: transform .2s;
}

input:checked + .theme-switch-slider { background-color: $colg3; }

input:checked + .theme-switch-slider:before {
  -webkit-transform: translateX(20px);
     -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
       -o-transform: translateX(20px);
          transform: translateX(20px);
}

/*NAV*/

/* hide mobile navigation by default */
.drop-nav-btn,
.drop-nav-items { display: none; }

.main-nav-item,
.drop-nav-btn > div,
.drop-nav-item > div {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  @include theme() {
    background: th('nav-bg');
    border-bottom: $bdr1 solid th('nav-border');
  };
}

.main-nav-item {
  display: block;
  padding: .75rem .5625rem;
  text-decoration: none;
  font-size: 1.25rem;
  @include theme() {
    color: th('nav-text');
    font-weight: th('theme-weight-adjust-title-text');
  };
}

.main-nav-item {
  background-position: bottom;
  background-size: 100% 200%;
  -webkit-transition: color .2s, background-position .2s ease-in-out;
     -moz-transition: color .2s, background-position .2s ease-in-out;
       -o-transition: color .2s, background-position .2s ease-in-out;
          transition: color .2s, background-position .2s ease-in-out;
}

.main-nav-item:hover {
  background-position: top;
  @include theme() {
    color: th('header-text');
    font-weight: th('theme-weight-adjust-title-text');
  };
}

.mni.not-prev {
  @include theme() {
    background-image: linear-gradient(to bottom,
      th('accent-res') 50%, th('nav-bg') 50%
    );
  };
}

.mni.prev {
  @include theme() {
    animation: th('swapBg') 0s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      th('accent-res') 33%, th('nav-bg-this-page') 33% 67%, th('nav-bg') 67%
    )
  };
  &:hover {
    background-position: top;
  };
}

.mni.current {
  cursor: default;
  @include theme() {
    background-position: center;
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      th('accent-res') 33%, th('nav-bg-this-page') 33% 67%, th('nav-bg') 67%
    )
  };
  &:hover {
    background-position: top;
  };
}

// .mni-bio.not-prev {
//   @include theme() {
//     background-image: linear-gradient(to bottom,
//       th('accent-bio') 50%, th('nav-bg') 50%
//     );
//   };
// }
// .mni-resume.not-prev {
//   @include theme() {
//     background-image: linear-gradient(to bottom,
//       th('accent-res') 50%, th('nav-bg') 50%
//     );
//   };
// }
// .mni-writing.not-prev {
//   @include theme() {
//     background-image: linear-gradient(to bottom,
//       th('accent-writ') 50%, th('nav-bg') 50%
//     );
//   };
// }
// .mni-contact.not-prev {
//   @include theme() {
//     background-image: linear-gradient(to bottom,
//       th('accent-code') 50%, th('nav-bg') 50%
//     );
//   };
// }

// .prev {
//   background-position: bottom;
// }

// .mni-resume.current {
//   @include theme() {
//     background-image: linear-gradient(to bottom,
//       th('accent-res') 50%, th('nav-bg-this-page') 50%
//     );
//   };
// }
// .mni-writing.current {
//   @include theme() {
//     background-image: linear-gradient(to bottom,
//       th('accent-writ') 50%, th('nav-bg-this-page') 50%
//     );
//   };
// }
// .mni-contact.current {
//   @include theme() {
//     background-image: linear-gradient(to bottom,
//       th('accent-code') 50%, th('nav-bg-this-page') 50%
//     );
//   };
// }

/* hide default nav & show mobile nav */
@media (max-width: 600px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main-nav-item { display: none; }

  .drop-nav-btn {
    display: block;
    position: relative;
    width: 100%;
    padding: .75rem 1.5rem;
    border: none;
    z-index: 3;
    @include theme() {
      background: th('drop-nav-btn-bg');
    };
  }

  .drop-nav-btn > div {
    text-decoration: none;
    font-size: 1.25rem;
    @include theme() {
      color: th('drop-nav-btn-text');
    };
  }

  .drop-nav-btn-icon {
    height: 20px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
  }

  .drop-nav-btn-icon > div {
    height: 4px;
    width: 100%;
    border-radius: $rad;
    @include theme() {
      background: th('drop-nav-btn-text');
    };
  }

  .drop-nav-btn-icon > div:nth-child(2) { margin: 4px 0; }

  .drop-nav { width: 100%; }

  .drop-nav-items {
    display: block;
    position: absolute;
    top: -144px;
    width: 100%;
    z-index: 2;
    -webkit-transition: transform .2s, top .2s;
       -moz-transition: transform .2s, top .2s;
         -o-transition: transform .2s, top .2s;
            transition: transform .2s, top .2s;
  }

  .drop-nav-items > a {
    display: block;
    text-decoration: none;
  }

  .drop-nav-item > div {
    display: block;
    padding: .75rem 1.5rem;
    text-decoration: none;
    font-size: 1.25rem;
    @include bgTransition();
    @include theme() {
      color: th('nav-text');
      font-weight: th('theme-weight-adjust-title-text');
    };
  }

  .drop-nav-item-bio:hover > div    {
    @include theme() {
      background: th('accent-bio');
    };
  }
  .drop-nav-item-resume:hover > div  {
    @include theme() {
      background: th('accent-res');
    };
  }
  .drop-nav-item-writing:hover > div {
    @include theme() {
      background: th('accent-writ');
    };
  }
  .drop-nav-item-contact:hover > div {
    @include theme() {
      background: th('accent-code');
    };
  }

  .drop-nav:hover .drop-nav-items {
    display: block;
    top: 48px;
    // -webkit-transform: translateY(192px);
    //    -moz-transform: translateY(192px);
    //     -ms-transform: translateY(192px);
    //      -o-transform: translateY(192px);
    //         transform: translateY(192px);
    @include theme() {
      box-shadow: 0 0 2px 0 th('exl-btn-shadow');
      border-bottom: th('exl-btn-border');
    };
  }

  .drop-nav:hover .drop-nav-btn-icon-bar {
    @include theme() {
      background: th('accent-hover');
    };
  }

  .drop-nav-item {
    @include bgTransition();
    @include theme() {
      background: th('nav-bg');
    };
  }

  .this-page-drop {
    @include theme() {
      background: th('nav-bg-this-page');
    };
  }
}

/*FOOTER*/

.foot {
  display: flex;
  justify-content: center;
  @include theme() {
    background: th('foot-bg');
    border-top: $bdr1 solid th('foot-border');
  };
}

.footer-grid {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  min-width: 800px;
}

.foot-item { display: flex; }

.foot-item-right,
.foot-item-left > a {
  position: relative;
  margin: 0 1.5rem;
  font-size: .75rem;
  line-height: 17px;
  opacity: 75%;
  letter-spacing: 0;
  @include theme() {
    color: th('foot-text');
    font-weight: th('theme-weight-adjust-text');
  };
}

.foot-item-left > a {
  left: 0;
  font-style: italic;
  text-decoration: none;
  -webkit-transition: color .2s;
     -moz-transition: color .2s;
       -o-transition: color .2s;
          transition: color .2s;
}

.foot.bio .foot-item-left > a:hover {
  @include theme() {
    color: th('accent-bio');
  };
}
.foot.resume .foot-item-left > a:hover {
  @include theme() {
    color: th('accent-res');
  };
}
.foot.writing .foot-item-left > a:hover {
  @include theme() {
    color: th('accent-writ');
  };
}
.foot.code .foot-item-left > a:hover {
  @include theme() {
    color: th('accent-code');
  };
}

.foot-item-right {
  justify-self: right;
  text-align: right;
}

.copyright-1-line { display: none; }

.foot-social-icon {
  display: flex;
  vertical-align: bottom;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: $rad;
  margin-left: .5rem;
  margin-right: .5rem;
}

.foot-social-icon svg {
  margin: auto;
  @include theme() {
    fill: th('foot-social-icon-bg');
  };
  -webkit-transition: fill .2s;
     -moz-transition: fill .2s;
       -o-transition: fill .2s;
          transition: fill .2s;
}

.foot.bio .foot-social-icon svg:hover {
  @include theme() {
    fill: th('accent-bio');
  };
}
.foot.resume .foot-social-icon svg:hover {
  @include theme() {
    fill: th('accent-res');
  };
}
.foot.writing .foot-social-icon svg:hover {
  @include theme() {
    fill: th('accent-writ');
  };
}
.foot.code .foot-social-icon svg:hover {
  @include theme() {
    fill: th('accent-code');
  };
}

/* center all footer content for mobile */
@media (max-width: 600px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
  }

  .foot-item {
    text-align: center;
    margin: .5rem 1.5rem;
  }

  .foot-item-center { order: -1; }

  .copyright-2-line { display: none; }
  .copyright-1-line { display: flex; }
}

/* CONTENT*/

.content-wrapper,
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.transition-grid {
  display: grid;
}

.transition-wrapper {
  grid-row: 1;
  grid-column: 1;
}

.page-wrapper {
  max-width: 800px;
}

.content-wrapper,
.side-right,
.side-left {
  @include theme() {
    background: th('content-bg');
  };
}

.content > * {
  margin: 1rem 1.5rem;
  line-height: 1.75rem;
}

.content-30-left { width: 30%; }
.content-30-left > * { margin-right: 1rem; }
.content-70-right { width: 70%; }
.content-70-right > * { margin-left: 1rem; }

.content-title {
  text-transform: uppercase;
  letter-spacing: .1rem;
  @include theme() {
    font-weight: th('theme-weight-adjust-title-text');
  };
}

.content-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horz-bar {
  height: $bdr2;
  margin: 1rem 1.5rem;
  @include theme() {
    background: th('horz-bar');
  };
}

.section-divider {
  width: 100%;
}

.subsection-divider {
  max-width: fill-available;
}

.writing-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* make 2-column pages into 1-column */
@media (max-width: 800px) {
  .content-left-contact,
  .content-right-contact { width: 100%; }
}

/*BIO*/

.headshot-wrapper {
  object-fit: contain;
  @include theme() {
    border: $bdr1 solid th('horz-bar'); }
  };

.headshot-wrapper > img {
  width: 100%;
  display: block;
}

/* hide headshot on BIO page */
@media (max-width: 800px) {
  .content-left-home { display: none; }
  .content-right-home { width: 100%; }
  .content-right-home > * { margin-left: 1.5rem; }
}

.partner-logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 2rem;
  width: 85%;
  justify-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.partner-logo-grid > img {
  height: 65px;
  width: 9rem; /* 144px */
}

a.inline-email {
  text-decoration: none;
  margin-left: .5ch;
  color: $cyan5;
}

a.inline-email:hover {
  color: $fuch5;
}

/*RESUME*/

.exl-btn:hover .exl-btn-icon-fore {
  @include theme() {
    background: th('accent-res-hover');
  };
}

.exl-btn-icon-wrap {
  margin-right: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: none;
  -webkit-transition: transform .4s ease-in-out;
     -moz-transition: transform .4s ease-in-out;
       -o-transition: transform .4s ease-in-out;
          transition: transform .4s ease-in-out;
}

.exl-btn-icon-fore {
  height: 1.25rem;
  width: 1.25rem;
  clip-path: polygon(40% 0, 60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%, 0 40%, 40% 40%);
  position: relative;
  -webkit-transition: background-color .2s;
     -moz-transition: background-color .2s;
       -o-transition: background-color .2s;
          transition: background-color .2s;
  @include theme() {
    background: th('foot-social-icon-bg');
  };
}

/* .exl-btn-icon-back {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  top: calc(-1.25rem - 1px);
  left: -1px;
  height: 18px;
  width: 18px;
  border: 2px solid $exl-btn-icon-border-fix;
  z-index: 1;
} */

.rotated .exl-btn-icon-wrap {
  -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg);
}

.exl-wrapper {
  overflow: hidden;
  border-radius: $rad;
  @include theme() {
    box-shadow: 0 0 2px 0 th('exl-btn-shadow');
    border: th('exl-btn-border');
  };
}

.exl-btn {
  cursor: pointer;
  display: flex;
  padding: 1rem;
  @include theme() {
    background: th('exl-btn-bg');
  };
}

/* .exl-btn:hover { background-color: $exl-btn-bg-hover; } */

.exl-btn-text { margin-left: 1rem; }

.exl-btn-text-head {
  display: flex;
  justify-content: space-between;
}

/* title and date */
.exl-btn-text-head > * {
  margin-bottom: 0;
  line-height: 1em;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  @include theme() {
    font-weight: th('theme-weight-adjust-title-text');
  };
}

/* summary text */
.exl-btn-text-head + p {
  margin-top: .5rem;
  padding-left: 2px;
  font-style: italic;
}

.exl-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .4s ease-in-out;
     -moz-transition: max-height .4s ease-in-out;
       -o-transition: max-height .4s ease-in-out;
          transition: max-height .4s ease-in-out;
  @include theme() {
    background: th('exl-content-bg');
  };
}

.exl-content-ul {
  list-style-type: none;
  padding: 1rem 1rem 1rem 3.25rem;
}

.exl-content-li {
  margin-bottom: .25rem;
  padding-left: 2px;
  text-indent: -18px;
}

.exl-content-li:last-child { margin-bottom: 0; }

.exl-content-li::before {
  content: "\2B25";
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  left: -18px;
  @include theme() {
    color: th('foot-social-icon-bg');
  };
}

.li2::before {
  content: "\25ba";
}
.li3::before {
  content: "\25b8";
}
.li4::before {
  content: "\25a0";
}
.li5::before {
  content: "\25fc";
}
.li6::before {
  content: "\25cf";
}

/*WRITING*/

.writing-title {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-radius: $rad;
  overflow: hidden;
}

.story-subtitle {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 2rem;
  font-size: 17px;
}

.p1,
.p1 > em,
.p2,
.p2 > em {
  font-size: 17px;
  line-height: 1.75rem;
  @include theme() {
    font-weight: th('theme-weight-adjust-text');
  };
}

.p1,
.p1 > em {
  @include theme() {
    color: th('text');
  };
}

.p2 {
  @include theme() {
    color: th('text-alt-faded');
  };
}

.p3 {
  margin-top: 0;
  margin-left: 3rem;
  margin-right: 2.5rem;
  margin-bottom: .5rem;
  line-height: 1.25rem;
  font-size: 1rem;
  font-family: monospace;
  color: $cyan5;
}

/*CONTACT FORM*/

// .contact-label { display: none; }

// textarea { height: 200px; }

// ::placeholder {
//   text-transform: uppercase;
//   letter-spacing: .1rem;
//   color: $form-text-placeholder;
// }

// input[type=text],
// input[type=email],
// textarea {
//   width: 100%;
//   padding: .75rem;
//   border: $bdr2 solid $horz-bar;
//   border-radius: $rad;
//   box-sizing: border-box;
//   margin-bottom: 1rem;
//   resize: none;
//   color: $form-text;
//   background-size: 200% 100%;
//   background-image: linear-gradient(to left,
//     $form-bg-focus 50%, $form-bg 50%
//   );
//   -webkit-transition: background-position .2s ease-in-out;
//      -moz-transition: background-position .2s ease-in-out;
//        -o-transition: background-position .2s ease-in-out;
//           transition: background-position .2s ease-in-out;
// }

// input[type=text]:focus,
// input[type=email]:focus,
// textarea:focus {
//   outline: none;
//   background-position: -100% 0;
// }

// input[type=text]:focus label,
// input[type=email]:focus label,
// textarea:focus label { visibility: hidden; }

// input[type=submit] {
//   -webkit-appearance: none;
//      -moz-appearance: none;
//           appearance: none;
//   background-color: $accent;
//   color: $button-text;
//   padding: .5rem 1rem;
//   border: 3px solid $accent;
//   margin-bottom: .5rem;
//   border-radius: $rad;
//   cursor: pointer;
//   text-transform: uppercase;
//   letter-spacing: .1rem;
// }

// input[type=submit]:hover {
//   background-color: $accent-hover;
//   border: 3px solid $accent-hover;
// }

/*MISC*/

.preload,
.preload:before {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}