@-webkit-keyframes movingGradient {
  0% {
    background-position: 0%   50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0%   50%; } }

@keyframes movingGradient {
  0% {
    background-position: 0%   50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0%   50%; } }

@-webkit-keyframes swapBgBio {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, var(--accent-bio) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--accent-bio) 50%, var(--nav-bg) 50%); } }

@keyframes swapBgBio {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, var(--accent-bio) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--accent-bio) 50%, var(--nav-bg) 50%); } }

@-webkit-keyframes swapBgRes {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, var(--accent-res) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--accent-res) 50%, var(--nav-bg) 50%); } }

@keyframes swapBgRes {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, var(--accent-res) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--accent-res) 50%, var(--nav-bg) 50%); } }

@-webkit-keyframes swapBgWrit {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, var(--accent-writ) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--accent-writ) 50%, var(--nav-bg) 50%); } }

@keyframes swapBgWrit {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, var(--accent-writ) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--accent-writ) 50%, var(--nav-bg) 50%); } }

@-webkit-keyframes swapBgCode {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, var(--accent-code) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--accent-code) 50%, var(--nav-bg) 50%); } }

@keyframes swapBgCode {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom, var(--accent-code) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--accent-code) 50%, var(--nav-bg) 50%); } }

.btn {
  border-radius: var(--rad); }

html, body {
  overflow: overlay;
  height: 100%; }

main {
  min-height: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: var(--bg); }

*, *:before, *:after {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text); }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0; }
  button:focus {
    outline: none; }

h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  font-style: normal;
  text-decoration: none;
  overflow-wrap: break-word; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

p, ul, ol, li {
  font-size: 17px;
  line-height: 1.75rem;
  letter-spacing: .02rem;
  font-weight: var(--theme-weight-adjust-text); }

/*WRAPPER*/
main {
  background-color: var(--bgcolor); }

/*SVG*/
.svg-icon {
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 100px; }

.svg-wrap svg,
.svg-icon svg {
  height: 100%;
  width: 100%;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  margin: 0;
  fill: var(--text); }

.svg-wrap.flex {
  display: flex; }

.svg {
  height: 100%;
  width: 100%;
  margin: 0;
  fill: var(--text); }

svg.svg-cstitle {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  fill: var(--text); }

@media (max-width: 440px) {
  svg.svg-cstitle {
    width: 86vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    fill: var(--text); } }

/*HEAD*/
.main-head {
  display: flex;
  padding: .75rem 0;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--header-bg);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time); }

.main-head-grid {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas: '. title switch';
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 1.5rem;
  max-width: 800px; }

.main-head-item {
  z-index: 0; }

.main-head-item-title {
  grid-area: title;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background: linear-gradient(var(--header-text), var(--chlg0));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

/* hide default header */
@media (max-width: 600px) {
  .main-head {
    display: none; } }

/*LIGHT-DARK SWITCH*/
.theme-switch-bg {
  justify-self: right;
  grid-area: switch;
  padding: 4px;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--chlg6);
  overflow: hidden;
  cursor: pointer;
  background-color: var(--chlg7); }

.theme-switch-bg input {
  display: none; }

.th-switch-slider {
  cursor: pointer;
  position: relative;
  right: -20px;
  z-index: 999;
  overflow: hidden;
  height: 20px;
  width: 20px;
  transition: transform .5s; }

.eclipse-animation {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: all .5s; }
  .eclipse-animation.moon {
    -webkit-animation: movingGradient 8s ease infinite;
            animation: movingGradient 8s ease infinite;
    background: linear-gradient(45deg, var(--ambr3), var(--ambr4), var(--ambr5), var(--ambr6));
    background-size: 400% 400%; }
  .eclipse-animation.earth {
    background-color: var(--chlg7);
    transform: translate(100%, -175%); }
  input:checked + .th-switch-slider .eclipse-animation.moon {
    -webkit-animation: movingGradient 8s ease infinite;
            animation: movingGradient 8s ease infinite;
    background: linear-gradient(45deg, var(--white), var(--colg0), var(--colg3), var(--colg4));
    background-size: 400% 400%; }
  input:checked + .th-switch-slider .eclipse-animation.earth {
    transform: translate(33%, -125%); }

input:checked + .th-switch-slider {
  transform: translateX(-20px); }

/*NAV*/
/* hide mobile navigation by default */
.drop-nav-btn,
.drop-nav-items {
  display: none; }

.main-nav-item,
.drop-nav-btn > div,
.drop-nav-item > div {
  text-transform: uppercase;
  letter-spacing: .1rem; }

.main-nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-bg);
  border-bottom: var(--bdr1) solid var(--nav-border); }

.main-nav-item {
  display: block;
  text-align: center;
  padding: 12px 0;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--nav-text);
  font-weight: var(--theme-weight-adjust-title-text); }
  .main-nav-item.mni-bio {
    width: 56px; }
  .main-nav-item.mni-resume {
    width: 108px; }
  .main-nav-item.mni-writing {
    width: 109px; }
  .main-nav-item.mni-code {
    width: 78px; }

.main-nav-item {
  background-position: bottom;
  background-size: 100% 200%;
  transition: color .2s, background-position .2s ease-in-out; }

.main-nav-item:hover {
  background-position: top;
  color: var(--header-text);
  font-weight: var(--theme-weight-adjust-title-text); }

.mni-bio.not-prev {
  background-image: linear-gradient(to bottom, var(--accent-bio) 50%, var(--nav-bg) 50%); }

.mni-resume.not-prev {
  background-image: linear-gradient(to bottom, var(--accent-res) 50%, var(--nav-bg) 50%); }

.mni-writing.not-prev {
  background-image: linear-gradient(to bottom, var(--accent-writ) 50%, var(--nav-bg) 50%); }

.mni-code.not-prev {
  background-image: linear-gradient(to bottom, var(--accent-code) 50%, var(--nav-bg) 50%); }

.main-nav-item.prev.mni-bio {
  -webkit-animation: swapBgBio 0s;
          animation: swapBgBio 0s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 100% 300%;
  background-image: linear-gradient(to bottom, var(--accent-bio) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }

.main-nav-item.prev.mni-resume {
  -webkit-animation: swapBgRes 0s;
          animation: swapBgRes 0s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 100% 300%;
  background-image: linear-gradient(to bottom, var(--accent-res) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }

.main-nav-item.prev.mni-writing {
  -webkit-animation: swapBgWrit 0s;
          animation: swapBgWrit 0s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 100% 300%;
  background-image: linear-gradient(to bottom, var(--accent-writ) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }

.main-nav-item.prev.mni-code {
  -webkit-animation: swapBgCode 0s;
          animation: swapBgCode 0s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 100% 300%;
  background-image: linear-gradient(to bottom, var(--accent-code) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }

.main-nav-item.prev:hover {
  background-position: top; }

.main-nav-item.current {
  cursor: default;
  background-position: center;
  background-size: 100% 300%;
  background-image: linear-gradient(to bottom, var(--accent) 33%, var(--nav-bg-this-page) 33% 67%, var(--nav-bg) 67%); }
  .main-nav-item.current:hover {
    background-position: top; }

/* hide default nav & show mobile nav */
@media (max-width: 600px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .main-nav-item {
    display: none; }
  .drop-nav {
    width: 100%; }
  .drop-nav-btn {
    display: block;
    position: relative;
    width: 100%;
    padding: .75rem 1.5rem;
    border: none;
    z-index: 3;
    background: var(--drop-nav-btn-bg);
    cursor: pointer; }
  .drop-nav-btn-icon {
    height: 20px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem; }
    .drop-nav-btn-icon > div {
      height: 4px;
      width: 100%;
      border-radius: var(--rad);
      background: var(--drop-nav-btn-text); }
      .drop-nav-btn-icon > div:nth-child(2) {
        margin: 4px 0; }
  .drop-nav-title {
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--drop-nav-btn-text); }
  .drop-nav-items {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: top .4s; }
    .drop-nav-items.hidden {
      top: -192px; }
    .drop-nav-items.visible {
      top: 48px;
      border-bottom: var(--x-btn-border); }
  .drop-nav-item {
    display: block;
    text-decoration: none;
    background: var(--nav-bg); }
    .drop-nav-item.current {
      background: var(--nav-bg-this-page); }
    .drop-nav-item > div {
      display: block;
      padding: .75rem 1.5rem;
      text-decoration: none;
      font-size: 1.25rem;
      color: var(--nav-text);
      font-weight: var(--theme-weight-adjust-title-text); } }

.foot {
  display: flex;
  justify-content: center;
  background: var(--foot-bg);
  border-top: var(--bdr1) solid var(--foot-border);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time); }

.footer-grid {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content 1fr;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem;
  padding: 1rem 0;
  width: 100%;
  max-width: 800px;
  min-height: 100px; }

.foot-item {
  display: flex; }

.foot-item-right,
.foot-item-left a {
  position: relative;
  font-size: .75rem;
  line-height: 17px;
  color: var(--foot-text);
  font-weight: var(--theme-weight-adjust-text); }

.foot-item-left a {
  left: 0;
  font-style: italic;
  text-decoration: none;
  margin-right: 2rem;
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time); }

.foot-item-left a:hover {
  color: var(--accent); }

.foot-item-right {
  justify-self: right;
  text-align: right;
  margin-left: 2rem; }

.copyright-1-line {
  display: none; }

.foot-social-icon {
  display: flex;
  vertical-align: bottom;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: var(--rad);
  margin-left: .5rem;
  margin-right: .5rem; }

.foot-social-icon svg {
  margin: auto;
  fill: var(--foot-social-icon-bg);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time); }
  .foot-social-icon svg:hover {
    fill: var(--accent-hover); }

/* center all footer content for mobile */
@media (max-width: 600px) {
  .footer-grid {
    display: flex;
    flex-direction: column; }
  .foot-item {
    text-align: center;
    margin: .5rem 1.5rem; }
  .foot-item-center {
    order: -1; }
  .copyright-2-line {
    display: none; }
  .copyright-1-line {
    display: flex; } }

/* CONTENT*/
.large-text p,
.large-text p em {
  font-size: 1.5rem;
  line-height: 2.25rem; }

.text-divider {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .text-divider > p.text-divider-text {
    font-size: 1.5rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .text-divider > .text-divider-bar {
    display: flex;
    flex-grow: 1;
    height: var(--bdr1);
    background: var(--horz-bar); }

.content-wrapper,
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.content-wrapper {
  display: flex;
  flex: auto;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.transition-grid {
  display: grid; }

.transition-wrapper {
  grid-row: 1;
  grid-column: 1; }

.page-wrapper {
  max-width: 800px;
  margin: 0 1.5rem; }

.content-wrapper,
.side-right,
.side-left {
  background: var(--content-bg);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time); }

.content > * {
  line-height: 1.75rem; }

.content-30-left {
  width: 30%; }

.content-30-left > * {
  margin-right: 1rem; }

.content-70-right {
  width: 70%; }
  .content-70-right > * {
    margin-left: 1rem; }
    @media (max-width: 800px) {
      .content-70-right > * {
        margin-left: 0; } }

.content-title {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: var(--theme-weight-adjust-title-text); }

.content-text-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.horz-bar {
  height: var(--bdr1);
  margin: 1rem 0;
  background: var(--horz-bar); }

.section-divider {
  width: 100%; }

.subsection-divider {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: stretch; }

.writing-divider {
  margin-top: 2rem;
  margin-bottom: 2rem; }

/* make 2-column pages into 1-column */
@media (max-width: 800px) {
  .content-left-contact,
  .content-right-contact {
    width: 100%; } }

.page-wrapper.resume * {
  list-style: none; }

.page-wrapper.resume > :not(:first-child) {
  margin-top: 1rem; }

.page-wrapper.resume > section {
  width: 100%; }

.res-sec-title {
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  margin: 1rem 0 1rem 2px;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.res-headline-text {
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  font-size: 1.5rem;
  letter-spacing: .1rem;
  line-height: 2rem; }

.res-achievements ul,
.res-endorsements ul,
.res-interests ul {
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  display: flex; }
  @media (max-width: 700px) {
    .res-achievements ul,
    .res-endorsements ul,
    .res-interests ul {
      display: block; } }

.res-endorsements ul {
  flex-wrap: wrap; }

.achievement {
  padding: 1rem;
  background-color: var(--res-item-bg);
  border: var(--x-btn-border);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  display: inline-flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }
  .achievement:not(:first-child) {
    margin-left: 1rem; }

.endorsement {
  padding: 1rem;
  background-color: var(--res-item-bg);
  border: var(--x-btn-border);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  display: inline-flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  flex: 1 0 33%; }
  .endorsement:not(:first-child) {
    margin-left: 1rem; }
  .endorsement:last-child {
    margin-left: 0;
    margin-top: 1rem; }
  .endorsement .endorsement-icon svg {
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
    margin-top: 7px;
    margin-right: .5rem;
    align-self: flex-start;
    height: 15px;
    width: 24px;
    fill: var(--accent); }
  .endorsement .endorse-quote {
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
    font-style: italic; }
  .endorsement .endorse-person {
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
    color: var(--text-alt-faded);
    font-weight: var(--theme-weight-adjust-title-text);
    margin-top: .5rem; }

.edu {
  padding: 1rem;
  background-color: var(--res-item-bg);
  border: var(--x-btn-border);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .edu:not(:first-child) {
    margin-top: 1rem;
    margin-left: 0; }
  .edu * {
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time); }
  .edu h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .1rem; }
  .edu p {
    display: inline-block; }
    .edu p:not(:last-child) {
      margin-right: 1.5rem; }
  .edu p:not(:first-child) {
    margin-top: .5rem; }
  .edu span {
    font-size: 17px;
    line-height: 1.75rem;
    letter-spacing: .02rem;
    font-weight: var(--theme-weight-adjust-text); }
    .edu span.degree, .edu span.name {
      font-weight: bold; }

.interest {
  padding: 1rem;
  background-color: var(--res-item-bg);
  border: var(--x-btn-border);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  display: inline-flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }
  .interest:not(:first-child) {
    margin-left: 1rem; }

@media (max-width: 700px) {
  .achievement,
  .endorsement,
  .interest {
    padding: 1rem;
    background-color: var(--res-item-bg);
    border: var(--x-btn-border);
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time); }
    .achievement:not(:first-child),
    .endorsement:not(:first-child),
    .interest:not(:first-child) {
      margin-top: 1rem;
      margin-left: 0; }
  .edu {
    width: 100%; } }

.skill-btns {
  display: flex;
  flex-wrap: wrap;
  margin: -0.25rem 0 1.25rem calc(-.5rem + 1px); }

.skill-btn {
  color: var(--white);
  padding: .5rem;
  margin: .25rem 0 .25rem .5rem;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  flex-grow: 1;
  font-size: 17px;
  line-height: 1.75rem;
  letter-spacing: .02rem;
  font-weight: var(--theme-weight-adjust-text);
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, transform 0.3s, padding 0.3s; }
  .skill-btn.biz {
    background-color: var(--accent-res); }
  .skill-btn.coding {
    background-color: var(--accent-bio); }
  .skill-btn.events {
    background-color: var(--accent-code); }
  .skill-btn.games {
    background-color: var(--accent-writ); }
  .skill-btn.creative {
    background-color: var(--accent-create); }
  .skill-btn:hover {
    transform: translateY(-5px); }
  .skill-btn:not(:active):hover.biz {
    background-color: var(--accent-res-hover-dark); }
  .skill-btn:not(:active):hover.coding {
    background-color: var(--accent-bio-hover-dark); }
  .skill-btn:not(:active):hover.events {
    background-color: var(--accent-code-hover-dark); }
  .skill-btn:not(:active):hover.games {
    background-color: var(--accent-writ-hover-dark); }
  .skill-btn:not(:active):hover.creative {
    background-color: var(--accent-create-hover-dark); }
  @media (max-width: 830px) {
    .skill-btn {
      flex-grow: 0;
      padding: 1rem;
      transform: none; } }

.res-skills ul {
  margin: -.25rem;
  display: flex;
  flex-wrap: wrap; }
  .res-skills ul .skill {
    border: var(--x-btn-border);
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
    margin: .25rem;
    padding: .5rem 1rem;
    background-color: var(--res-item-bg); }
    .res-skills ul .skill.highlight {
      color: var(--white);
      border-color: var(--content-bg); }
    .res-skills ul .skill.biz {
      background-color: var(--accent-res); }
    .res-skills ul .skill.coding {
      background-color: var(--accent-bio); }
    .res-skills ul .skill.events {
      background-color: var(--accent-code); }
    .res-skills ul .skill.games {
      background-color: var(--accent-writ); }
    .res-skills ul .skill.creative {
      background-color: var(--accent-create); }

.exp {
  border: var(--x-btn-border);
  transition: border-color var(--time), border-radius var(--time); }
  .exp:not(:first-child) {
    margin-top: 1rem; }
  .exp:hover {
    border-color: var(--accent-hover);
    border-radius: var(--rad2); }

.x-wrapper {
  overflow: hidden; }

.x-btn-icon-wrap {
  grid-area: ico; }

.exp-title {
  grid-area: ttl; }

.exp-org-ano-wrap {
  grid-area: org; }

.exp-summary {
  grid-area: sum; }

.x-btn {
  cursor: pointer;
  display: grid;
  padding: 1rem;
  gap: 0 1rem;
  background: var(--res-item-bg);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: 'ico ttl org' '.   sum sum'; }

.x-btn-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: var(--rad);
  padding: 5px;
  background: var(--accent);
  transition: transform 0.5s ease-in-out, color var(--time), background-color var(--time), border-color var(--time); }
  .x-btn-icon-wrap svg {
    transition: fill var(--time), transform 0.5s ease-in-out;
    fill: var(--white); }
  .rotated .x-btn-icon-wrap svg {
    transform: rotate(135deg); }

.x-btn h6 {
  margin-bottom: 0;
  margin-top: -.125rem;
  font-size: 1.25rem;
  font-weight: var(--theme-weight-adjust-title-text); }
  .x-btn h6.exp-org {
    text-align: end; }

.exp-year {
  margin-top: .25rem;
  line-height: 1em;
  font-size: 1rem;
  text-align: end;
  font-weight: var(--theme-weight-adjust-title-text);
  color: var(--text-alt-faded); }

.exp-summary {
  margin-top: -.5rem;
  width: 85%;
  font-size: 17px;
  line-height: 1.75rem;
  letter-spacing: .02rem;
  font-weight: var(--theme-weight-adjust-text); }

@media (max-width: 800px) {
  .x-btn {
    grid-template-areas: 'ico ttl' '.   org' '.   sum'; }
  .x-btn h6.exp-org,
  .exp-year {
    text-align: start; }
  .x-btn h6.exp-org {
    margin-top: .25rem; }
  .exp-year {
    margin-top: .5rem; }
  .exp-summary {
    margin-top: .5rem;
    width: 100%; } }

.x-content {
  max-height: 0;
  overflow: hidden;
  background: var(--res-item-bg);
  transition: max-height .5s ease-in-out; }

.x-content-ul {
  list-style-type: none;
  padding: 0 1rem 1rem 3.5rem; }

main[data-theme='dark'] .x-content-li {
  color: var(--text-alt-faded); }

.x-content-li:not(:first-child) {
  margin-top: .25rem; }

.x-content-li .lead {
  font-size: 17px;
  line-height: 1.75rem;
  letter-spacing: .02rem;
  font-weight: var(--theme-weight-adjust-text);
  font-weight: bold; }

/*WRITING*/
.writing-title {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-radius: var(--rad);
  overflow: hidden; }

.p1,
.p1 > em,
.p2,
.p2 > em {
  font-size: 20px;
  line-height: 2rem;
  font-weight: var(--theme-weight-adjust-text);
  margin: 1rem 0; }

.p1,
.p1 > em {
  color: var(--text); }

.p2 {
  color: var(--text-alt-faded); }

.p3 {
  margin-top: 0;
  margin-left: 3rem;
  margin-right: 2.5rem;
  margin-bottom: .5rem;
  line-height: 1.25rem;
  font-size: 1rem;
  font-family: monospace;
  color: var(--cyan5); }

/*CONTACT FORM*/
/*MISC*/
.preload,
.preload:before {
  transition: none; }

.page-wrapper.code > :not(:first-child) {
  margin-top: 1rem; }

.page-wrapper.code > section {
  width: 100%; }

.code-project {
  padding: 1.25rem 1rem;
  background-color: var(--res-item-bg);
  border: var(--x-btn-border);
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
  font-size: 17px;
  line-height: 1.75rem;
  letter-spacing: .02rem;
  font-weight: var(--theme-weight-adjust-text); }
  .code-project > :not(:first-child):not(.code-project-divider) {
    margin-top: 1rem; }
  .code-project .code-project-title > :not(:first-child),
  .code-project .code-project-links > :not(:first-child) {
    margin-left: .5rem; }
  .code-project .code-project-title {
    display: flex;
    align-items: center; }
    .code-project .code-project-title .code-project-icon {
      height: 30px;
      width: 30px; }
      .code-project .code-project-title .code-project-icon svg {
        transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
        fill: var(--accent); }
  .code-project .code-project-description > p:not(:first-child) {
    margin-top: .5rem; }
  .code-project .code-project-links {
    display: flex;
    align-items: center; }
  .code-project .code-project-divider {
    margin-top: 2rem;
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
    background-color: var(--code-project-divider); }

.url-pseudo-btn {
  display: flex;
  align-items: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  text-decoration: none;
  background-color: var(--btn-bg);
  transition: color var(--time), background-color var(--time), border-color var(--time), transform var(--time); }
  .url-pseudo-btn:hover {
    transform: translateY(-5px); }
  .url-pseudo-btn svg {
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
    fill: var(--btn-fg); }
  .url-pseudo-btn p {
    transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time);
    color: var(--btn-fg); }
  .url-pseudo-btn:not(:active):hover {
    background-color: var(--btn-bg-hover); }
    .url-pseudo-btn:not(:active):hover svg {
      fill: var(--btn-fg-hover); }
    .url-pseudo-btn:not(:active):hover p {
      color: var(--btn-fg-hover); }

.url-pseudo-btn {
  color: var(--white);
  padding: .5rem 1rem;
  font-size: 17px;
  line-height: 1.75rem;
  letter-spacing: .02rem;
  font-weight: var(--theme-weight-adjust-text);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .url-pseudo-btn svg {
    margin-right: .5rem;
    height: 20px;
    width: 20px; }
  .url-pseudo-btn p {
    font-size: 1.25rem;
    position: relative; }
