.svg-wrap.flex {
  display: flex; }

.url-pseudo-btn .svg-icon {
  height: 100%;
  width: 100%;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  margin: 0;
  margin-right: .5rem;
  fill: var(--btn-fg);
  height: 20px;
  width: 20px;
  transition: color var(--time), background-color var(--time), border-color var(--time), fill var(--time); }

.url-pseudo-btn:not(:active):hover .svg-icon {
  fill: var(--btn-fg-hover); }

.code-project .code-project-description > p:not(:first-child) {
  margin-top: .5rem; }
