/*RESET*/
html, body {
  margin: 0;
  padding: 0;
  overflow: overlay;
  height: 100%; }

main {
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }
  .light main {
    background: #e5e7eb; }
  .dark main {
    background: #18181b; }

*, *:before, *:after {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .light *, .light *:before, .light *:after {
    color: #525252; }
  .dark *, .dark *:before, .dark *:after {
    color: #d1d5db; }

h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  font-style: normal;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

p, ul, ol, li {
  font-size: 17px;
  line-height: 1.75rem;
  letter-spacing: .02rem; }
  .light p, .light ul, .light ol, .light li {
    font-weight: 350; }
  .dark p, .dark ul, .dark ol, .dark li {
    font-weight: 350; }

/*WRAPPER*/
.wrapper {
  background-position: left;
  background-repeat: repeat;
  background-attachment: fixed; }
  .light .wrapper {
    background-image: none;
    background-size: 0; }
  .dark .wrapper {
    background-image: url("./assets/backgrounds/dflowers-clear-1280.png");
    background-size: 1280px; }

/*SVG*/
.svg-wrap {
  height: 245px;
  width: 600px; }

.svg {
  height: 100%;
  width: 100%;
  margin: 0; }
  .light .svg {
    fill: #525252; }
  .dark .svg {
    fill: #d1d5db; }

svg.svg-cstitle {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }
  .light svg.svg-cstitle {
    fill: #525252; }
  .dark svg.svg-cstitle {
    fill: #d1d5db; }

/*HEAD*/
.main-head-bg {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100vw;
  background-position: left;
  background-repeat: repeat; }
  .light .main-head-bg {
    background-image: url("./assets/backgrounds/dflowers-clear-1280.png");
    background-size: 1280px; }
  .dark .main-head-bg {
    background-image: none;
    background-size: 0; }

.main-head {
  display: flex;
  padding: .75rem 0;
  justify-content: center;
  align-items: center;
  position: relative; }
  .light .main-head {
    background: #171717; }
  .dark .main-head {
    background: #18181b; }

.light .main-head-item {
  background: -webkit-linear-gradient(#e5e7eb, #d1d5db);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0; }

.dark .main-head-item {
  background: -webkit-linear-gradient(#e5e7eb, #d1d5db);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0; }

.main-head-item-title {
  text-transform: uppercase;
  letter-spacing: .1rem; }

/* hide default header */
@media (max-width: 600px) {
  .main-head {
    display: none; } }

/*LIGHT-DARK SWITCH*/
.theme-switch-text {
  position: absolute;
  right: 85px;
  font-weight: 450;
  font-size: 1rem;
  text-justify: left;
  text-transform: uppercase;
  letter-spacing: .1rem; }

.theme-switch-bg {
  position: absolute;
  right: 0;
  width: 50px;
  height: 30px;
  margin-right: 1.5rem;
  border-radius: 3px;
  overflow: hidden; }

.theme-switch-bg input {
  display: none; }

.theme-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d1d5db;
  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s; }

.theme-switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  right: 25px;
  bottom: 5px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 3px 0.25px #9ca3af;
  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s; }

input:checked + .theme-switch-slider {
  background-color: #d1d5db; }

input:checked + .theme-switch-slider:before {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px); }

/*NAV*/
/* hide mobile navigation by default */
.drop-nav-btn,
.drop-nav-items {
  display: none; }

.main-nav-item,
.drop-nav-btn > div,
.drop-nav-item > div {
  text-transform: uppercase;
  letter-spacing: .1rem; }

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center; }
  .light .main-nav {
    background: #e5e7eb;
    border-bottom: 1px solid #d1d5db; }
  .dark .main-nav {
    background: #27272a;
    border-bottom: 1px solid #3f3f46; }

.main-nav-item {
  display: block;
  padding: .75rem .5625rem;
  text-decoration: none;
  font-size: 1.25rem; }
  .light .main-nav-item {
    color: #171717;
    font-weight: 400; }
  .dark .main-nav-item {
    color: #e5e7eb;
    font-weight: 400; }

.main-nav-item,
.drop-nav-item {
  background-size: 100% 200%;
  -webkit-transition: background-position .2s ease-in-out;
  -moz-transition: background-position .2s ease-in-out;
  -o-transition: background-position .2s ease-in-out;
  transition: background-position .2s ease-in-out; }

.main-nav-item:hover,
.drop-nav-item:hover {
  background-position: 0 -100%; }
  .light .main-nav-item:hover, .light
  .drop-nav-item:hover {
    color: #e5e7eb;
    font-weight: 400; }
  .dark .main-nav-item:hover, .dark
  .drop-nav-item:hover {
    color: #e5e7eb;
    font-weight: 400; }

.light .main-nav-item-home {
  background-image: linear-gradient(to bottom, #e5e7eb 50%, #f472b6 50%); }

.dark .main-nav-item-home {
  background-image: linear-gradient(to bottom, #27272a 50%, #ec4899 50%); }

.light .main-nav-item-resume {
  background-image: linear-gradient(to bottom, #e5e7eb 50%, #06b6d4 50%); }

.dark .main-nav-item-resume {
  background-image: linear-gradient(to bottom, #27272a 50%, #0891b2 50%); }

.light .main-nav-item-writing {
  background-image: linear-gradient(to bottom, #e5e7eb 50%, #fb923c 50%); }

.dark .main-nav-item-writing {
  background-image: linear-gradient(to bottom, #27272a 50%, #f97316 50%); }

.light .main-nav-item-contact {
  background-image: linear-gradient(to bottom, #e5e7eb 50%, #10b981 50%); }

.dark .main-nav-item-contact {
  background-image: linear-gradient(to bottom, #27272a 50%, #059669 50%); }

.light .main-nav-item-home.this-page-main {
  background-image: linear-gradient(to bottom, #d1d5db 50%, #f472b6 50%); }

.dark .main-nav-item-home.this-page-main {
  background-image: linear-gradient(to bottom, #3f3f46 50%, #ec4899 50%); }

.light .main-nav-item-resume.this-page-main {
  background-image: linear-gradient(to bottom, #d1d5db 50%, #06b6d4 50%); }

.dark .main-nav-item-resume.this-page-main {
  background-image: linear-gradient(to bottom, #3f3f46 50%, #0891b2 50%); }

.light .main-nav-item-writing.this-page-main {
  background-image: linear-gradient(to bottom, #d1d5db 50%, #fb923c 50%); }

.dark .main-nav-item-writing.this-page-main {
  background-image: linear-gradient(to bottom, #3f3f46 50%, #f97316 50%); }

.light .main-nav-item-contact.this-page-main {
  background-image: linear-gradient(to bottom, #d1d5db 50%, #10b981 50%); }

.dark .main-nav-item-contact.this-page-main {
  background-image: linear-gradient(to bottom, #3f3f46 50%, #059669 50%); }

/* hide default nav & show mobile nav */
@media (max-width: 600px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .main-nav-item {
    display: none; }
  .drop-nav-btn {
    display: block;
    position: relative;
    width: 100%;
    padding: .75rem 1.5rem;
    border: none;
    z-index: 3; }
    .light .drop-nav-btn {
      background: #171717; }
    .dark .drop-nav-btn {
      background: #171717; }
  .drop-nav-btn > div {
    text-decoration: none;
    font-size: 1.25rem; }
    .light .drop-nav-btn > div {
      color: #e5e7eb; }
    .dark .drop-nav-btn > div {
      color: #e5e7eb; }
  .drop-nav-btn-icon {
    height: 20px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem; }
  .drop-nav-btn-icon > div {
    height: 4px;
    width: 100%;
    border-radius: 3px; }
    .light .drop-nav-btn-icon > div {
      background: #e5e7eb; }
    .dark .drop-nav-btn-icon > div {
      background: #e5e7eb; }
  .drop-nav-btn-icon > div:nth-child(2) {
    margin: 4px 0; }
  .drop-nav {
    width: 100%; }
  .drop-nav-items {
    display: block;
    position: absolute;
    top: -144px;
    width: 100%;
    z-index: 2;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s; }
  .drop-nav-items > a {
    display: block;
    text-decoration: none; }
  .drop-nav-item > div {
    display: block;
    padding: .75rem 1.5rem;
    text-decoration: none;
    font-size: 1.25rem; }
    .light .drop-nav-item > div {
      color: #171717;
      font-weight: 400; }
    .dark .drop-nav-item > div {
      color: #e5e7eb;
      font-weight: 400; }
  .light .drop-nav-item-home:hover > div {
    background: #f472b6; }
  .dark .drop-nav-item-home:hover > div {
    background: #ec4899; }
  .light .drop-nav-item-resume:hover > div {
    background: #06b6d4; }
  .dark .drop-nav-item-resume:hover > div {
    background: #0891b2; }
  .light .drop-nav-item-writing:hover > div {
    background: #fb923c; }
  .dark .drop-nav-item-writing:hover > div {
    background: #f97316; }
  .light .drop-nav-item-contact:hover > div {
    background: #10b981; }
  .dark .drop-nav-item-contact:hover > div {
    background: #059669; }
  .drop-nav:hover .drop-nav-items {
    display: block;
    -webkit-transform: translateY(192px);
    -moz-transform: translateY(192px);
    -ms-transform: translateY(192px);
    -o-transform: translateY(192px);
    transform: translateY(192px); }
    .light .drop-nav:hover .drop-nav-items {
      box-shadow: 0 0 2px 0 #d4d4d4;
      border-bottom: 1px solid white; }
    .dark .drop-nav:hover .drop-nav-items {
      box-shadow: 0 0 2px 0 #18181b;
      border-bottom: 1px solid #3f3f46; }
  .light .drop-nav-item {
    background: #e5e7eb; }
  .dark .drop-nav-item {
    background: #27272a; }
  .light .this-page-drop {
    background: #d1d5db; }
  .dark .this-page-drop {
    background: #3f3f46; } }

/*FOOTER*/
.foot {
  display: flex;
  justify-content: center; }
  .light .foot {
    background: #e5e7eb;
    border-top: 1px solid #d1d5db; }
  .dark .foot {
    background: #18181b;
    border-top: 1px solid #3f3f46; }

.footer-grid {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  min-width: 800px; }

.foot-item {
  display: flex; }

.foot-item-right,
.foot-item-left > a {
  position: relative;
  margin: 0 1.5rem;
  font-size: .75rem;
  line-height: 17px;
  opacity: 75%;
  letter-spacing: 0; }
  .light .foot-item-right, .light
  .foot-item-left > a {
    color: #6b7280;
    font-weight: 350; }
  .dark .foot-item-right, .dark
  .foot-item-left > a {
    color: #52525b;
    font-weight: 350; }

.foot-item-left > a {
  left: 0;
  font-style: italic;
  text-decoration: none;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }

.light .foot.bio .foot-item-left > a:hover {
  color: #f472b6; }

.dark .foot.bio .foot-item-left > a:hover {
  color: #ec4899; }

.light .foot.resume .foot-item-left > a:hover {
  color: #06b6d4; }

.dark .foot.resume .foot-item-left > a:hover {
  color: #0891b2; }

.light .foot.writing .foot-item-left > a:hover {
  color: #fb923c; }

.dark .foot.writing .foot-item-left > a:hover {
  color: #f97316; }

.light .foot.code .foot-item-left > a:hover {
  color: #10b981; }

.dark .foot.code .foot-item-left > a:hover {
  color: #059669; }

.foot-item-right {
  justify-self: right;
  text-align: right; }

.copyright-1-line {
  display: none; }

.foot-social-icon {
  display: flex;
  vertical-align: bottom;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 3px;
  margin-left: .5rem;
  margin-right: .5rem; }

.foot-social-icon svg {
  margin: auto;
  -webkit-transition: fill .2s;
  -moz-transition: fill .2s;
  -o-transition: fill .2s;
  transition: fill .2s; }
  .light .foot-social-icon svg {
    fill: #9ca3af; }
  .dark .foot-social-icon svg {
    fill: #3f3f46; }

.light .foot.bio .foot-social-icon svg:hover {
  fill: #f472b6; }

.dark .foot.bio .foot-social-icon svg:hover {
  fill: #ec4899; }

.light .foot.resume .foot-social-icon svg:hover {
  fill: #06b6d4; }

.dark .foot.resume .foot-social-icon svg:hover {
  fill: #0891b2; }

.light .foot.writing .foot-social-icon svg:hover {
  fill: #fb923c; }

.dark .foot.writing .foot-social-icon svg:hover {
  fill: #f97316; }

.light .foot.code .foot-social-icon svg:hover {
  fill: #10b981; }

.dark .foot.code .foot-social-icon svg:hover {
  fill: #059669; }

/* center all footer content for mobile */
@media (max-width: 600px) {
  .footer-grid {
    display: flex;
    flex-direction: column; }
  .foot-item {
    text-align: center;
    margin: .5rem 1.5rem; }
  .foot-item-center {
    order: -1; }
  .copyright-2-line {
    display: none; }
  .copyright-1-line {
    display: flex; } }

/* CONTENT*/
.content-wrapper,
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.content-wrapper {
  display: flex;
  flex: auto;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.transition-grid {
  display: grid; }

.transition-wrapper {
  grid-row: 1;
  grid-column: 1; }

.page-wrapper {
  max-width: 800px; }

.light .content-wrapper, .light
.side-right, .light
.side-left {
  background: #f0f3f5; }

.dark .content-wrapper, .dark
.side-right, .dark
.side-left {
  background: none; }

.content > * {
  margin: 1rem 1.5rem;
  line-height: 1.75rem; }

.content-30-left {
  width: 30%; }

.content-30-left > * {
  margin-right: 1rem; }

.content-70-right {
  width: 70%; }

.content-70-right > * {
  margin-left: 1rem; }

.content-title {
  text-transform: uppercase;
  letter-spacing: .1rem; }
  .light .content-title {
    font-weight: 400; }
  .dark .content-title {
    font-weight: 400; }

.content-text-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.horz-bar {
  height: 1px;
  margin: 1rem 1.5rem; }
  .light .horz-bar {
    background: #d1d5db; }
  .dark .horz-bar {
    background: #3f3f46; }

.section-divider {
  width: 100%; }

.subsection-divider {
  max-width: fill-available; }

.writing-divider {
  margin-top: 2rem;
  margin-bottom: 2rem; }

/* make 2-column pages into 1-column */
@media (max-width: 800px) {
  .content-left-contact,
  .content-right-contact {
    width: 100%; } }

/*BIO*/
.headshot-wrapper {
  object-fit: contain; }
  .light .headshot-wrapper {
    border: 1px solid #d1d5db; }
  .dark .headshot-wrapper {
    border: 1px solid #3f3f46; }

.headshot-wrapper > img {
  width: 100%;
  display: block; }

/* hide headshot on BIO page */
@media (max-width: 800px) {
  .content-left-home {
    display: none; }
  .content-right-home {
    width: 100%; }
  .content-right-home > * {
    margin-left: 1.5rem; } }

.partner-logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 2rem;
  width: 85%;
  justify-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.partner-logo-grid > img {
  height: 65px;
  width: 9rem;
  /* 144px */ }

a.inline-email {
  text-decoration: none;
  margin-left: .5ch;
  color: #06b6d4; }

a.inline-email:hover {
  color: #d946ef; }

/*RESUME*/
.light .exl-btn:hover .exl-btn-icon-fore {
  background: #22d3ee; }

.dark .exl-btn:hover .exl-btn-icon-fore {
  background: #06b6d4; }

.exl-btn-icon-wrap {
  margin-right: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: none;
  -webkit-transition: transform .4s ease-in-out;
  -moz-transition: transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out; }

.exl-btn-icon-fore {
  height: 1.25rem;
  width: 1.25rem;
  clip-path: polygon(40% 0, 60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%, 0 40%, 40% 40%);
  position: relative;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s; }
  .light .exl-btn-icon-fore {
    background: #9ca3af; }
  .dark .exl-btn-icon-fore {
    background: #3f3f46; }

/* .exl-btn-icon-back {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  top: calc(-1.25rem - 1px);
  left: -1px;
  height: 18px;
  width: 18px;
  border: 2px solid $exl-btn-icon-border-fix;
  z-index: 1;
} */
.rotated .exl-btn-icon-wrap {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.exl-wrapper {
  overflow: hidden;
  border-radius: 3px; }
  .light .exl-wrapper {
    box-shadow: 0 0 2px 0 #d4d4d4;
    border: 1px solid white; }
  .dark .exl-wrapper {
    box-shadow: 0 0 2px 0 #18181b;
    border: 1px solid #3f3f46; }

.exl-btn {
  cursor: pointer;
  display: flex;
  padding: 1rem; }
  .light .exl-btn {
    background: white; }
  .dark .exl-btn {
    background: #27272a; }

/* .exl-btn:hover { background-color: $exl-btn-bg-hover; } */
.exl-btn-text {
  margin-left: 1rem; }

.exl-btn-text-head {
  display: flex;
  justify-content: space-between; }

/* title and date */
.exl-btn-text-head > * {
  margin-bottom: 0;
  line-height: 1em;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .1rem; }
  .light .exl-btn-text-head > * {
    font-weight: 400; }
  .dark .exl-btn-text-head > * {
    font-weight: 400; }

/* summary text */
.exl-btn-text-head + p {
  margin-top: .5rem;
  padding-left: 2px;
  font-style: italic; }

.exl-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .4s ease-in-out;
  -moz-transition: max-height .4s ease-in-out;
  -o-transition: max-height .4s ease-in-out;
  transition: max-height .4s ease-in-out; }
  .light .exl-content {
    background: white; }
  .dark .exl-content {
    background: #27272a; }

.exl-content-ul {
  list-style-type: none;
  padding: 1rem 1rem 1rem 3.25rem; }

.exl-content-li {
  margin-bottom: .25rem;
  padding-left: 2px;
  text-indent: -18px; }

.exl-content-li:last-child {
  margin-bottom: 0; }

.exl-content-li::before {
  content: "\2B25";
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  left: -18px; }
  .light .exl-content-li::before {
    color: #9ca3af; }
  .dark .exl-content-li::before {
    color: #3f3f46; }

.li2::before {
  content: "\25ba"; }

.li3::before {
  content: "\25b8"; }

.li4::before {
  content: "\25a0"; }

.li5::before {
  content: "\25fc"; }

.li6::before {
  content: "\25cf"; }

/*WRITING*/
.writing-title {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-radius: 3px;
  overflow: hidden; }

.story-subtitle {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 2rem;
  font-size: 17px; }

.p1,
.p1 > em,
.p2,
.p2 > em {
  font-size: 17px;
  line-height: 1.75rem; }
  .light .p1, .light
  .p1 > em, .light
  .p2, .light
  .p2 > em {
    font-weight: 350; }
  .dark .p1, .dark
  .p1 > em, .dark
  .p2, .dark
  .p2 > em {
    font-weight: 350; }

.light .p1, .light
.p1 > em {
  color: #525252; }

.dark .p1, .dark
.p1 > em {
  color: #d1d5db; }

.light .p2 {
  color: #9ca3af; }

.dark .p2 {
  color: #9ca3af; }

.p3 {
  margin-top: 0;
  margin-left: 3rem;
  margin-right: 2.5rem;
  margin-bottom: .5rem;
  line-height: 1.25rem;
  font-size: 1rem;
  font-family: monospace;
  color: #06b6d4; }

/*CONTACT FORM*/
/*MISC*/
.preload,
.preload:before {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }
